* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


:root {
    
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-grey: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

ul {
    list-style: none;
}

body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.greetings {
    font-size: 2rem;
    color: var(--blue-color);
}

:root {
    --blue-color : #0e59e6;
    --light-shadow :  5px 5px 5px rgb(214, 214, 214);
    --grey-color : #aeaeae;



}

.light-shadow {
    box-shadow: 2px 2px 20px rgb(214, 214, 214);

}


input:focus {
    outline: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    width: 80%;
    margin: auto;
}

.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    position: relative;
}

.main-section aside {
    background-color: #fff;
    border-right: 5px solid #eee;
}

.main-section .func {
    background-color: #fff;
    border-left: 5px solid #eee;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header-content .header-options {
    display: flex;
    gap: 2rem;
    list-style: none;

}

.header-content .header-options .header-btn {
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #fff;
    font-size: 1.3rem;
    color: var(--blue-color);


}

.search-bx form .inputBx{
    display: flex;
    width: 250px;
    height: 50px;
    border-radius:  10px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    background-color: #fff;

}

.search-bx {
    margin: 1rem 0;
}

.search-bx form .inputBx  input {
    border: none;
    display: flex;

}

.search-bx form .inputBx  input {
    width: 90%;
}

.search-bx form .inputBx label {
    width: 10%;
}

.search-bx form .inputBx  input:focus {
    outline: none;
}

.main-content {
    margin-left: 5rem;
}


.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}



.feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.feed .head {
    display: flex;
    justify-content: space-between;
}

.feed .user {
    display: flex;
    gap: 1rem;
}

.feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem 0;
}

.liked-by {
    display: flex;
}

.liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    border-radius:50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.liked-by span:first-child {
    margin: 0;
}

.liked-by p {
    margin-left: 0.5rem;
}






.main-content .new-post {
    width: 100%;
}

 .img-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-icon img {
    border-radius: 50%;
}



/* .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: none;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload input[type="file"] {
    display: none;
} */

.post {
    display: grid;
    gap: 1rem;
    background-color: #fff;
    padding: 1.5rem;
    margin: 1rem 0;

}

.post .post-actions ul{
    display: flex;
    gap: 2rem;
    font-size: 1.1rem;
}

.post .post-actions ul li a {
    font-size: 1.2rem;
    color: grey;

}


.post .post-img .likes-count {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 10px ;
    gap: .5rem;


}

.post .post-actions ul li a:hover {
    color: var(--blue-color);
}

.post .time-since  {
    color : #aeaeae;
    font-size: .5rem;
}

.post-info {
    display: grid;
    grid-template-columns: 10% auto;
}

.post-info .user-status {
    color: #aeaeae;
}


.main-section .func {
    padding: 1rem ;
}

.main-section .container {
    width: 95%;
}

.profileBx {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: .01rem solid var(--grey-color);

}

.profileBx .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileBx .user-info .user-stats {
    display: flex;
    gap: 3rem;
    text-align: center;

}

.profileBx .user-info .editBtn {
    background-color: var(--blue-color);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: .8rem;

}

.profileBx .img-icon {
    position: absolute;
    bottom: -20%;
    transform: translateX(50%);
    right: 50%;
    border: 1px solid var(--blue-color);

}

.profileBx .user-cover {
    height: 20%;
    background-image: url('https://img.freepik.com/free-photo/ocean-blue-copy-space-abstract-paper-waves_23-2148319152.jpg?w=740&t=st=1710328535~exp=1710329135~hmac=7bd447c717f0cb6af77b76ac0bbdc09d37235bf5be5b8a9b43be47151fd5cbb5');
    background-size: cover;
    position: relative;

}


 .recomBx .usersBx {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;

}

.recomBx .usersBx .userBx {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: .5rem 0;
}


.recomBx .usersBx .userBx span {
    color: var(--grey-color);
}

.recomBx .usersBx .userBx .addBtn {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--blue-color);
}

