
:root {
    --grey-color :#535353;
    --blue-color : #0e59e6;
    --light-shadow :  2px 2px 5px rgb(214, 214, 214);


}

.sidebar {
    background-color: #fff;
    z-index: 99;
}

.profile-section {
    display: flex;
    /* grid-template-columns: 80%; */
    /* gap: 2rem; */
    width: 100%;
    min-height: 100vh;
    position: relative;
    justify-content: center;
}


.profile-section .main-profile {
    width: 100%;
    margin-left: 6vw;
}

.top-section .cover-bx {
    height: 400px;
    width: 100%;
    background-image: url('/static/images/cover.jpg');
    background-size: cover;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;


}

.top-section .img-icon {
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translateY(50%);
    bottom: 0;
    border: .5rem solid #eef1f5;
}

.top-section .img-icon img {
    border-radius: 50%;
}

.top-section .profile-func  {
   width: 70%;
   position: relative;
}

.top-section .profile-func .post-btn {
    position: absolute;
    margin: 1rem 0;
    border-radius: 2rem;
    font-weight: 600;
    box-shadow: var(--light-shadow);
}


.main-profile .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.main-profile .user-info .user-statis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 3rem;
    text-align: center;
    margin: 1rem 0;
    color: grey;
}

.main-profile .user-info .user-statis h5 {
    font-size: 1.2rem;
}

.main-profile .profile-nav-tabs {
    display: flex;
    justify-content: center;
}

.main-profile .profile-nav-tabs ul {
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
    font-weight: 700;
    background-color: rgb(232, 232, 232);
    padding: .5rem 1.3rem ;
    border-radius: 1rem;
    align-items: center;

}

.main-profile .filtring-posts {
    justify-content: flex-start;
}

.main-profile .profile-nav-tabs ul a {
    color: var(--grey-color);

}

.main-profile .profile-nav-tabs .current-tab {
    position: relative;
    z-index: 2;
}

.main-profile .profile-nav-tabs .profile-tab {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-profile .profile-nav-tabs .current-tab::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    z-index: -1;
    border-radius: 2rem;
}

.main-profile .recent-posts {
    width: 80%;
    margin: auto;
}

.main-profile .recent-posts .post {
    width: 100%;
    min-height: 200px;
    border-radius: 1rem;
    border: 1px solid var(--grey-color);
    display: flex;
    flex-direction: column;
}



.main-profile .recent-posts .post .post-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-profile .recent-posts .post .post-info .user-span {
    display: flex;
    flex-direction: column;
}

.main-profile .recent-posts .post .post-info .user-span .datetime {
    font-size: .8rem;
}

.main-profile .recent-posts .post .post-actions {
    border-top: .5px solid #d4d4d4;

}

.main-profile .recent-posts .post .post-actions .btn {
    font-size: 1.2rem;
}

.main-profile .recent-posts .post .post-actions .btn:hover {
    color: var(--blue-color);

}

.main-profile .recent-posts .post .post-actions .share-btn.btn-active,
.main-profile .recent-posts .post .post-actions .btn-active {
    color: var(--blue-color);
}

.main-profile .recent-posts .you-shared {
    color: var(--blue-color);
    font-size: 1.3rem;
    font-weight: 500;

}

.new-post {
    display: flex;
    width: 70%;
    min-height: 100px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem auto;
    border-radius: 2rem;
}

.new-post .new-post-form {
    height: 90%;
    gap: 1rem;
    width: 80%;
    display: grid;
    grid-template-columns: 90% 10%;
    
}

.new-post .new-post-form .main-post{
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 1rem;
    padding: .5rem;
}

.new-post .new-post-form .submitBtn {
    padding: 0 .5rem;
    background-color: var(--blue-color);
    color: #fff;
    font-weight: 700;
    border-radius: 1rem;
    height: 50px;

}

input[type="text"],
textarea {
    width: 500px; /* Make input fields and textarea full width */
    height: 50px;
    resize: none;
    padding: 10px; /* Add padding to input fields and textarea */
    border: 1px solid #ccc; /* Add border to input fields and textarea */
    border-radius: 5px; /* Add border radius to input fields and textarea */
    box-sizing: border-box; /* Include padding and border in the width */
}
button {

    padding: 10px 20px;
    background-color: #FFF;
    color: #000;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #fff;

}

    .file-input input[type="file"]::-webkit-file-upload-button {
visibility: hidden;
}

    .file-input input[type="file"]::before {
        display: inline-block;
        background: #007bff;
        color: #fff;
        border: none;
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        content: 'media';
    }



    .file-input input[type="file"]:hover::before {
        background: #0056b3;
    }

    .file-input input[type="file"]:active::before {
        background: #003d6b;
    }

    .file-input input[type="file"]:focus::before {
        outline: none;
        border-color: #0056b3;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .file-input input[type="file"] {
        display: inline-block;
        margin-bottom: 0;
        font-size: inherit;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
    }

    .new-post .bottom-part {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }                  

