{% extends 'index.html' %}

<div class="about">

    <!-- Display current user information -->
    <h2>Welcome, {{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.bio }}</p>
    <!-- Display profile picture -->
    <div class="img-icon">
        <img src="{{ user.profile_pic.url }}" alt="Profile Picture">

    </div>

    <!-- Form for editing user information -->
    <form action="{% url 'update_profile' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}">
        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio">{{ user.bio }}</textarea>
        <!-- Add more fields as needed -->

        <button type="submit">Save Changes</button>
    </form>

</div>