
<style>

.edit-info-form {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    gap: .3rem;
}

.edit-info-form input {
    width: 100%;
    height: 30px;
    padding: 1rem;
}

.edit-info-form textarea {
    height: 300px;
    resize: none;
    padding: 1rem;
}

</style>

<div class="about">

    <!-- Form for editing user information -->
    <form method="post" action="{% url 'update_profile' username=user.username %}" class="edit-info-form">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ student_form.as_p }}
        <input type="submit" value="Save">
    </form>
    
    
</div>