{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/admin-style.css' %}">
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

<style>
    
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}


.input-field select {
    background-color: #eeeeee;

}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #363636;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
</style>

<main class="admin-dashboard" >
    <h1>Analytics</h1>
    <!-- Analyses -->
    <div class="analyse">
        <div class="sales">
            <div class="status">
                <div class="info">
                    <h3>Students</h3>
                    <h1>{{students.count}}</h1>
                </div>
                <div class="progresss">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                        <p>+81%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="visits">
            <div class="status">
                <div class="info">
                    <h3>Teachers</h3>
                    <h1>{{teachers.count}}</h1>
                </div>
                <div class="progresss">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                        <p>-48%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="searches">
            <div class="status">
                <div class="info">
                    <h3>Enterprises</h3>
                    <h1>{{enterprises.count}}</h1>
                </div>
                <div class="progresss">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                        <p>+21%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="searches">
            <div class="status">
                <div class="info">
                    <h3>Total Posts</h3>
                    <h1>{{posts.count}}</h1>
                </div>
                <div class="progresss">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                        <p>+21%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="searches">
            <div class="status">
                <div class="info">
                    <h3>Total Classes</h3>
                    <h1>{{classes.count}}</h1>
                </div>
                <div class="progresss">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                        <p>+21%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="searches">
            <div class="status">
                <div class="info">
                    <h3>Total Offers</h3>
                    <h1>{{offers.count}}</h1>
                </div>
                <div class="progresss">
                    <svg>
                        <circle cx="38" cy="38" r="36"></circle>
                    </svg>
                    <div class="percentage">
                        <p>+21%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Analyses -->

    <!-- New Users Section -->
    <div class="new-users">
        <h2>New Users</h2>
        <div class="user-list">
            <button class="modal-trigger" data-form-type="addUser">
                <div class="user">
                    <img src="{% static 'images/plus.png' %}">
                    <h2>Add</h2>
                    <p>New User</p>
                </div>
            </button>

            {% for user in users  %}
            <a href="{% url 'user_profile' username=user.username %}">

                <div class="user">
                    <img src="{{user.profile_pic.url}}">
                    <h2>{{user.username}}</h2>
                    <p>{{user.role}}</p>
                </div>
            </a>

            {% endfor %}
        </div>
    </div>
    <!-- End of New Users Section -->

    <!-- Recent Orders Table -->
    <div class="recent-orders">
        <h2>Recent Orders</h2>
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Number</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="#">Show All</a>
    </div>
    <!-- End of Recent Orders -->

</main>
<div class="overlay">
    <div class="modal addUser-modal">
        <form method="POST" class="sign-up-form">
            <h2 class="title">Add new user</h2>
            {% csrf_token %}
            <div class="input-field">
              <i class="fas fa-user"></i>
        
                    {{ add_form.username }}
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
        
                    {{ add_form.email }}
            </div>
            <!-- Repeat the same pattern for other fields -->
            <!-- Example for password fields -->
            <div class="input-field">
              <i class="fas fa-lock"></i>
        
                    {{ add_form.password1 }}
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
        
                    {{ add_form.password2 }}
            </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
          
                      {{ add_form.role }}
              </div>
            <input type="submit" class="btn" value="add" />
          </form>
        
    </div>
</div>


{% endblock %}