{% extends 'base.html' %}
{%  load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/all.min.css'  %}" />
<link rel="stylesheet" href="{% static 'css/framework.css' %}" />
<link rel="stylesheet" href="{% static 'css/master.css'%}" />

    <div class="tasks p-20 bg-white rad-10" style="width: 80%;margin: 2rem auto;">
        <h2 class="mt-0 mb-20">Applications for {{ offer.title }}</h2>

        {% for application in applications %}

        <div class="task-row between-flex">
          <div class="info">
            <h3 class="mt-0 mb-5 fs-15">{{ application.applicant.username }}</h3>
            <p class="m-0 c-grey">{{ application.cover_letter }}</p>
          </div>
          <a href="{{application.cv.url}}" download=""><i class='bx bxs-download'></i></a> 
        </div>
        {% empty %}
        <p>No one has applied yet.</p>
      {% endfor %}
      </div>






</ul>
{% endblock %}
