{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css'  %}" />
    <link rel="stylesheet" href="{% static 'css/framework.css' %}" />
    <link rel="stylesheet" href="{% static 'css/master.css'%}" />
    
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon">

    <title>{{ request.path }}</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="{% url 'home' %}" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>FSTT</span>Career</div>
        </a>
        <ul class="side-menu" id="sideMenu">
            <li><a href="{% url 'home' %}" class="menu-item"><i class='bx bxs-home-alt-2'></i>Home</a></li>
            {% if request.user.role == 'ADMIN' %}
            <li><a href="{% url 'admin_dashboard' %}" class="menu-item"> <i class='bx bx-stats'></i> Admin dashboard</a></li>
            {% endif %}
    
            <li><a href="{% url 'user_profile' username=request.user.username %}" class="menu-item"><i class='bx bxs-user'></i>My Profile</a></li>
            {% if request.user.role != 'ENTERPRISE' and request.user.role != 'ADMIN' %}
            <li><a href="{% url 'classes' username=request.user.username %}" class="menu-item"><i class='bx bxs-dashboard'></i>Your Classes</a></li>
            {% endif %}
            <li><a href="{% url 'inbox' %}" class="menu-item"><i class='bx bx-message-square-dots'></i>Messages</a></li>


           
            <li><a  href="{% url 'user_followers_following' username=request.user.username %}" class="menu-item"><i class='bx bx-group'></i>Followers</a></li>
            <li><a  href="{% url 'display_offers' %}" class="menu-item"><i class='bx bxs-briefcase'></i> Job offers</a></li>
            <li><a href="{% url 'update_info' username=request.user.username %}" class="menu-item"><i class='bx bx-cog'></i>Settings</a></li>
        </ul>
        
        <ul class="side-menu">
            <li>
                <a href="{% url 'logout' %}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu' style="margin-left: 2rem;"></i>
            <div class="search-container">
                <form action="#">
                    <div class="form-input">
                        <input type="search" id="searchInput" type="search" placeholder="Search...">
                        <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                    </div>
                </form>
                <div class="search-results"  id="searchResults">
                    {% include 'search_results.html' %}
                
                </div>
            </div>

            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <div class="profile">
				<img src="{{ request.user.profile_pic.url}}" alt="">
				<ul class="profile-link">
					<li><a href="{% url 'user_profile' username=request.user.username %}"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="{% url 'update_info' username=request.user.username %}"><i class='bx bxs-cog' ></i> Settings</a></li>
					<li><a href="{% url 'logout' %}"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
        </nav>



            {% block content %}
            {% endblock %}

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

$(document).ready(function() {
    // Attach event listener to the search input field
    $('#searchInput').on('input', function() {
        // Get the search query
        var query = $(this).val();
        
        if (query.trim() === '') {
            // Clear or hide the search results
            $('#searchResults').empty(); // Empty the search results
            return; // Exit early, no need to make AJAX request
        }

        // Send an AJAX request to the Django view to search for users
        $.ajax({
            url: '/search-users/', // URL of the Django view
            type: 'GET',
            data: { query: query }, // Pass the search query as data
            success: function(response) {
                // Update the search results div with the returned HTML
                $('#searchResults').html(response);
            },
            error: function(xhr, status, error) {
                // Handle errors
                console.error(error);
            }
        });
    });
});



        document.addEventListener('DOMContentLoaded', function() {
    var currentUrl = window.location.pathname; // Get the current URL path
    var sideMenu = document.getElementById('sideMenu'); // Get the side menu element
    
    // Loop through the menu items and add the active class if their href matches the current URL
    var menuItems = sideMenu.getElementsByClassName('menu-item');
    for (var i = 0; i < menuItems.length; i++) {
        var menuItem = menuItems[i];
        if (menuItem.getAttribute('href') === currentUrl) {
            menuItem.parentElement.classList.add('active'); // Add active class to parent li
        }
    }
});
    </script>

    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>