{% extends 'base.html' %}

{% block content %}

<style>

    .top-section .cover-bx {
        width: 95%;
        margin: 1rem auto;
        border-radius: 2rem;
        position: relative;
        height: 250px;
    }

    .top-section .cover-bx .class-info {
        position: absolute;
        bottom: 1rem;
        left: 1.5rem;
        font-size: 1.5rem;
    }

    .form-container {
        margin-top: 1rem;
    }


        .create-post {

            width: 90%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin: 3rem 0;
            background: var(--color-white);
            padding: 0.4rem var(--card-padding);
            border-radius: var(--border-radius);
            margin: auto;
            gap: 1rem;
            width: 80%;
            height: 500px;

        }


</style>

<div class="top-section">
    <div class="cover-bx" style="background-image: url('{{ class_instance.class_cover.url }}')">
        <div class="class-info">
            <h2>{{ class_instance.title }}</h2>
            <p>{{ class_instance.teacher.user }}</p>

        </div>
    </div>
    {% if request.user.role == 'TEACHER' %}
    <div class="class-action">
        <button type="button" class="modal-trigger btn" data-form-type="assignment">Create Assignment</button>
        <button type="button" class="modal-trigger btn" data-form-type="announcement">Create Announcement</button>
        <a class="btn " href="{% url 'create_exam' class_instance.id class_instance.title %}">start exam</a>
        <a class="btn " href="{% url 'video_lecture' class_instance.id class_instance.title %}">start lecture</a>
    </div>
    {% endif %}

</div>

<div class="class-detail-container">

    <div class="side-info">
        <div class="assignments-box">
            <h3 class="assignments-title">Upcoming</h3>
            <ul>
            {% if assignments %}
            {% if request.user.role == 'TEACHER' or  request.user.role == 'STUDENT' %}
    
                {% for assignment in assignments %}
                <li>
                    <a href="{% url 'assignment_detail' class_instance.id class_instance.title assignment.id %}">{{ assignment.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Woohoo, no work due soon!        </p>
            {% endif %}
            {% endif %}
        </div>
    
        <div class="assignments-box" style="margin: 1rem 0;">
            <h3 class="assignments-title" >Exams</h3>
            <ul>
            {% if assignments %}
            {% if request.user.role == 'TEACHER' or  request.user.role == 'STUDENT' %}
    
                {% for exam in exams %}
                        {% if request.user.role == 'TEACHER' %}

                            <li>
                                <a href="{% url 'take_exam' class_instance.id class_instance.title exam.id %}">{{ exam.start_time }}  - {{ exam.end_time }} </a>
                            </li>
                        {% elif  request.user.role == 'STUDENT'  %}
                        <li>
                            <a href="{% url 'take_exam' class_instance.id class_instance.title exam.id %}">{{ exam.start_time }}  - {{ exam.end_time }} </a>
                        </li>
                        {% else %} 
                        <li>

                        </li>
                        {% endif %}
                                                

                {% endfor %}
            </ul>
            {% else %}
            <p>no exams available Right now!       </p>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="feeds">
        {% if request.user.role == 'TEACHER' %}

        <div class="feed announce-something modal-trigger" data-form-type="announcement">
            <div class="head" >
                <div class="user">
                    <div class="profile-photo">
                        <img src="{{class_instance.teacher.user.profile_pic.url}}" alt="">
                    </div>
                    <div class="info" style="display: flex;align-items: center;color: slategray;"><p>Announce something to your class.</p></div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if announcements %}
            {% for announcement in announcements %}
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <img src="{{ announcement.class_instance.teacher.user.profile_pic.url }}">
                                </div>
                                <div class="info">
                                    <h3>{{announcement.class_instance.teacher}}</h3>
                                    posted a new announcement : {{announcement.class_instance.title}}
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>
                
                        <div class="caption">
                            <br>
                            <p> {{announcement.content}}
                        </div>
                        {% if announcement.photo %}
                
                        <div class="photo">
                            <img src="{{announcement.photo.url}}">
                        </div>
                        {% endif%}
                    </div>

            {% endfor %}
        {% else %}
        <p>no announcements found</p>
        {% endif %}
    
    </div>


</div>





<div class="overlay">
    <div class="quick-draft p-20 bg-white rad-10 modal  announcement-modal">
        {% include 'create_announcement.html' %}

    </div>
    <div class="quick-draft p-20 bg-white rad-10 modal  assignment-modal">
        {% include 'create_assignment.html' %}
    </div>
</div>




{% endblock %}