{% extends 'base.html' %}

{% block content %}

<style>

    .top-section .cover-bx {
        width: 95%;
        margin: 1rem auto;
        border-radius: 2rem;
        position: relative;
        height: 250px;
    }

    .top-section .cover-bx .class-info {
        position: absolute;
        bottom: 1rem;
        left: 1.5rem;
        font-size: 1.5rem;
    }


        .create-post {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            background: var(--color-white);
            padding: 0.4rem var(--card-padding);
            border-radius: var(--border-radius);
            margin: auto;
        }

        .create-post textarea {
            width: 100%;
            justify-self: start;
            padding-left: 1rem;
            background: transparent;
            color: var(--color-dark);
            margin-right: 1rem;
            resize: none;
            height: 250px;
        }
</style>

<div class="top-section">
    <div class="cover-bx" style="background-image: url('{{ class_instance.class_cover.url }}')">
        <div class="class-info">
            <h2>{{ class_instance.title }}</h2>
            <p>{{ class_instance.teacher.user }}</p>

        </div>
    </div>
    <div class="class-action">
        <button class="btn modal-trigger">create an assignment</button>
        <button class="btn modal-trigger">create an annoncement</button>
        <button class="btn modal-trigger">start exam</button>
    </div>
</div>

<ul>

    {% for student in class_instance.students.all %}
    <li>{{ student.username }} ({{ student.CNE }})</li>
    {% endfor %}
</ul>

<div>
    <form action="" class="create-post">
        <div class="profile-photo">
        <img src="{{request.user.profile_pic.url}}">
        </div>
        <textarea name="" id="" cols="30" placeholder="What do you want to tell to your student? Mr. {{ request.user }}" id="create-post" rows="10"></textarea>
        <input type="submit" value="Post" class="btn btn-primary">
    </form>

</div>



<div class="overlay">
    <div class="modal">
        {% include 'create_announcement.html' %}
    </div>
</div>



{% endblock %}