{% extends 'base.html' %}

{% block content %}
<style>
    .question-form {
        margin: 0 2rem;
    }
    .question-form input{
        margin: .2rem 0;
    }
    .questionBtn {
        margin: 0 .5rem ;
    }
</style>
<div class="question-paper-container">
    <h2>Create Exam</h2>
    <form method="post" class="question-form">
        {% csrf_token %}
        {{ exam_form.as_p }}
        {% for question_form, answer_set in question_and_answer_forms %}
        <fieldset>
            <legend>Question</legend>
            {{ question_form.as_p }}
            {% for answer_form in answer_set %}
            {{ answer_form.as_p }}
            {% endfor %}
        </fieldset>
        {% endfor %}
        <button type="submit">Create Exam</button>
    </form>

</div>
{% endblock %}
