{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/all.min.css'  %}" />
<link rel="stylesheet" href="{% static 'css/framework.css' %}" />
<link rel="stylesheet" href="{% static 'css/master.css'%}" />


<style>

    .jobs-list-container {
        width: 60%;
        margin: auto;
    }
    .job-offer {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 200px;
        justify-content: flex-start;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 2px 2px 5px rgb(214, 214, 214);

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;

    }

    .company-img {
        width: 50px;
        height: 50px;
        border-radius: .5rem;

    }

    .job-offer .job-info, .job-offer .offer-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

</style>

{% if  request.user.role == 'ENTERPRISE' %}

<form method="get" action="{% url 'display_offers' %}">
    <select name="filter">
        <option value="all">All Offers</option>
        <option value="mine">My Offers</option>
    </select>
    <button type="submit">Apply Filter</button>
</form>
{% endif %}
<!-- <div class="jobs-list-container">
    {% for offer in offers %}

    <div class="job-offer">
        <div class="company-img">
            <img src="{{ offer.creator.profile_pic.url }}" alt="">
        </div>
        <div class="job-info">
            <h2 class="company-name">{{offer.creator.username}}</h2>
            <h4 class="job-position">{{ offer.title }}</h4>
            <p class="job-address">{{offer.location}}</p>
            <p><span class="created-at">{{ offer.created_at }}</span></p>
        </div>
        <div class="offer-info">
            <h2>{{offer.type}}</h2>
            <p>{{offer.skills_required}}</p>
            <p class="salary">{{offer.salary}} MAD / MONTH</p>
        </div>
        <div class="offer-details">
            <div class="apply-button">
                {% if request.user.role == 'ENTERPRISE' %}
                <a class="apply-btn btn " href="{% url 'applications_list' offer_id=offer.offer_id %}">See Details</a>
                {% else %}
                <a class="apply-btn btn " href="{% url 'apply_for_offer' offer_id=offer.offer_id %}">Apply</a>
                {% endif %}
            </div>
        </div>


    </div>
    {% endfor %}
  </div> -->
  <div class="friends-page d-grid m-20 gap-20" style="width: 90%; margin: 3rem auto;">

  {% for offer in offers %}

    <div class="friend bg-white rad-6 p-20 p-relative">
        <div class="txt-c" style="display: flex;flex-direction: column;align-items: center;gap: 1rem;">
        <img class="rad-half mt-10 mb-10 w-100 h-100" src="{{ offer.creator.profile_pic.url }}" alt="" />
        <h4 class="m-0">{{ offer.creator.username }}</h4>
        <p class="c-grey fs-13 mt-5 mb-0">{{ offer.title }}</p>
        </div>
        <div class="icons fs-14 p-relative">
        <div class="mb-10" >
            <i class='bx bxs-location-plus'></i>
                <span>{{offer.location}}</span>
        </div>

        <div>
            <i class='bx bx-dollar'></i>
            <span>{{offer.salary}}</span>
        </div>
        </div>
        <div class="info between-flex fs-13">
        <span class="c-grey">{{offer.created_at}}</span>
        <div>
            {% if request.user.role == 'ENTERPRISE' %}
            <a class="bg-blue c-white btn-shape" href="{% url  'applications_list' offer_id=offer.offer_id %}">See Details</a>
            {% else %}
            <a class="bg-blue c-white btn-shape" href="{% url 'apply_for_offer' offer_id=offer.offer_id %}">Apply</a>
            {% endif %}

        </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}