{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<main class="main-section">
    <section class="main-content">
        <div class="container">
        <h3 class="greetings">Welcome,  {{ request.user.username }}</h3>
        <style>

                input[type="text"],
                textarea {
                    width: 500px; /* Make input fields and textarea full width */
                    height: 50px;
                    resize: none;
                    padding: 10px; /* Add padding to input fields and textarea */
                    border: 1px solid #ccc; /* Add border to input fields and textarea */
                    border-radius: 5px; /* Add border radius to input fields and textarea */
                    box-sizing: border-box; /* Include padding and border in the width */
                }

                    .file-input input[type="file"]::-webkit-file-upload-button {
              visibility: hidden;
                }

                    .file-input input[type="file"]::before {
                        display: inline-block;
                        background: #007bff;
                        color: #fff;
                        border: none;
                        padding: 8px 20px;
                        border-radius: 5px;
                        cursor: pointer;
                        content: 'media';
                    }



                    .file-input input[type="file"]:hover::before {
                        background: #0056b3;
                    }

                    .file-input input[type="file"]:active::before {
                        background: #003d6b;
                    }

                    .file-input input[type="file"]:focus::before {
                        outline: none;
                        border-color: #0056b3;
                        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                    }

                    .file-input input[type="file"] {
                        display: inline-block;
                        margin-bottom: 0;
                        font-size: inherit;
                        line-height: normal;
                        vertical-align: middle;
                        cursor: pointer;
                    }

                    .new-post .bottom-part {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                    }     
                    
                        .attachment-post, .media-post {
                            display: none;
                        }
                        .attachment-box {
                            display: flex;
                            gap: 1rem;
                            margin: .5rem ;
                        }
                        .attachment-box button i {
                            font-size: .7rem;
                        }

                        form .top-bottom {
                          display: flex;
                          flex-direction: column;
                          align-items: flex-start;
                          gap: 1rem;
                        }

        </style>

{% if request.user.role != 'TEACHER' %}
<style>
  #id_post_type {
    display: none;
  }
</style>
{% endif %}
<form method="post" enctype="multipart/form-data" class="create-post">
    {% csrf_token %}
    <div class="top-bottom">
        {{form.post_type}}
        <div class="top-part" style="display: flex;gap: 1rem;align-items: center;">
            <div class="profile-photo">
                <img src="{{user.profile_pic.url}}" alt="">
            </div>
            {{form.content}}
            <input type="submit" value="Post" class="btn btn-primary">
        </div>
        <div class="attachment-box">
            {{form.attachment}}
            {{form.post_media}}               
            <button type="button" onclick="document.getElementById('id_attachment').click()">
                <i class='bx bxs-file'></i> attach file
            </button>
            <button type="button" onclick="document.getElementById('id_post_media').click()">
                <i class='bx bxs-file-image'></i> upload media
            </button>
        </div>
    </div>
</form>



            {% if posts %}
            <h2>Recent Posts</h2>
            <div class="feeds">

            {% for post in posts %}


                <div class="feed">
                    <div class="head">
                        <div class="user">
                            <div class="profile-photo">
                                <img src="{{ post.author.profile_pic.url }}">
                            </div>
                            <div class="info">
                                <h3>{{post.author.username}}</h3>
                                <small>{{post.created_at}}</small>
                                <span style="color: #1976D2;" >{{post.post_type}}</span>

                            </div>
                        </div>
                        {% if post.author.username == request.user.username %}
						<div class="menu  edit">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li>
                                    <form action="{% url 'delete_post' post.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="">Remove</button>
                                    </form>
                                </li>
							</ul>
						</div>
                        {% endif %}


                    </div>

                    <div class="caption">
                        <br>
                        <p> {{post.content}}</p>
                    </div>
                    {% if post.attachment %}
                    <div class="assign-attachment" style="margin: .5rem 0;">
                        <a href="{{ post.attachment.url }}" style="color: #1976D2;"  download><i class='bx bxs-file-archive'></i> {{ post.attachment }}</a>
                    </div>
                    {% endif %}

                    {% if post.post_media %}

                    <div class="photo">
                        <img src="{{post.post_media.url}}">
                    </div>
                    {% endif%}


                    <div class="action-buttons">
                        <div class="interaction-buttons">
                            <span class="like-button {% if user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}">
                                <i class="uil uil-heart"></i>
                            </span>
                            
                                                        <span><i class="uil uil-comment-dots"></i></span>
                            <span><a href="{% url 'share_post' post_id=post.id %}"><i class="uil uil-share-alt"></i></a></span>
                        </div>

                    </div>

                    <div class="liked-by">
                        <p>Liked by {{ post.likes.count }} people</b></p>
                    </div>

                    <div class="comments text-muted" >
                        View all the comments
                    </div>
                    <div class="comments-section" style="display: none;">
                        {% for comment in post.comments.all %}
                        <div class="message" style="margin: 1rem 0;" >
                            <div class="profile-photo">
                                <img src="{{comment.author.profile_pic.url}}">
                            </div>
                            <div class="message-body">
                                <h5>{{comment.author.username}}</h5>
                                <p class="text-muted">{{comment.content}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="add-comment">
 
                            <form method="post" class="create-post" action="{% url 'comment_post' post_id=post.id %}">
                                <div class="profile-photo">
                                    <img src="{{request.user.profile_pic.url}}">
                                </div>
                              
                                {% csrf_token %}
                                <input type="text" name="content" placeholder="Write a comment...">
                                <button type="submit" class="btn btn-primary"><i class='bx bxs-send'></i></button>
                            </form>
                        </div>
                    </div>
                </div>

            {% endfor %}
            </div>

            {% else %}
            <p>No posts found.</p>
        {% endif %}
    </section>
    <div class="right">
        <!------- MESSAGES ------->
        <div class="messages">
            <div class="heading">
                <h4>Messages</h4>
                <i class="uil uil-edit modal-trigger" id="send-message-icon"  data-form-type="message" ></i>
            </div>
            <!------- SEARCH BAR ------->
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Search messages" id="message-search">
            </div>
            <!------- MESSAGES CATEGORY ------->
            <div class="category">
                <h6 class="active">Primary</h6>
            </div>
            <!------- MESSAGES ------->
            <div class="message">
                <div class="profile-photo">
                    <img src="./images/profile-17.jpg">
                </div>
                <div class="message-body">
                    <h5>Edem Quist</h5>
                    <p class="text-muted">Just woke up bruh</p>
                </div>
            </div>
                    {% for user_with_message in users_with_messages %}
                    {% if user_with_message.latest_message %}
                    <a  href="{% url 'conversation_detail' user_with_message.id %}">

                      <div class="message">
                        <div class="profile-photo">
                            <img src="{{ user_with_message.profile_pic_url }}">
                        </div>
                        <div class="message-body">
                            <h5>{{ user_with_message.username }}</h5>
                            {% if user_with_message.latest_message.sender == user %}

                            <p class="text-muted">You: {{ user_with_message.latest_message.content }}</p>
                            {% else %}
                            <p class="text-muted">{{ user_with_message.latest_message.content }}</p>
                            {% endif %}

                        </div>
                        </div>
                    </a>

                    {% endif %}
                {% empty %}
                    <p>No messages found.</p>
                {% endfor %}
            <!------- MESSAGES ------->

        </div>
        <!------- END OF MESSAGES ------->   
        

        <!------- FRIEND REQUEST ------->
        <div class="friend-requests">
            <h4>Requests</h4>
            {% for request in follow_requests %}
            <div class="request">
                <div class="info">
                    <div class="profile-photo">
                        <img src="{{ request.sender.profile_pic.url }}">
                    </div>
                    <div>
                        <h5>{{ request.sender.username }}</h5>
                        <p class="text-muted">wants to follow you.</p>
                    </div>
                </div>
                <div class="action">
                    <form action="{% url 'accept_follow_request' request.sender.username %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Accept</button>
                    </form>
                    <form action="{% url 'refuse_follow_request' request.sender.username %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Refuse</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        
        </div>
    </div>

</div>





</main>
{% endif %}

    <div class="overlay">
        <div class="modal message-modal">
            <form method="post" id="send-message-form">
                {% csrf_token %}
                {{ send_form.as_p }}
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
document.getElementById('send-message-icon').onclick = function() {
    document.getElementById('send-message-form').style.display = 'block';
    document.getElementById('recipient-id').value = 'recipient_id_here';
}
    document.addEventListener('DOMContentLoaded', function() {
        var likeButtons = document.querySelectorAll('.like-button');
        likeButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var postId = this.dataset.postId;
                var likedByElement = this.closest('.action-buttons').nextElementSibling.querySelector('.liked-by p');
                var heartIcon = this.querySelector('i'); // Select the heart icon within the like button
                $.ajax({
                    url: '{% url "like_post" %}',
                    type: 'POST',
                    data: {
                        'id': postId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if(response.liked) {
                            heartIcon.classList.add('liked'); // Add a class to change the icon's appearance
                        } else {
                            heartIcon.classList.remove('liked'); // Remove the class if the post is unliked
                        }
                        likedByElement.textContent = 'Liked by ' + response.likes_count + ' people'; // Update the likes count display
                    }
                });
            });
        });
    });
    </script>
    
    


{% endblock %}
