{% extends 'index.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<main class="main-section">
    {% include 'sidebar.html' %}

    <section class="main-content">
        <div class="container">

        <header class="header-content">
            <div class="search-bx ">
                <form method="get" action="">
                   <input type="text" placeholder="Search here ...">
                   <button type="submit"><i class='bx bx-search'></i></button>
                </form>
            </div>
            <ul class="header-options">
                <li class="header-item"><button class="header-btn "><i class='bx bxs-bell'></i></button></li>
                <li class="header-item"><button class="header-btn"><i class='bx bxs-cog' ></i></button></li>
            </ul>
        </header>
        <h3 class="greetings">Welcome,  {{ request.user.username }}</h3>
        <style>
                input[type="text"],
                textarea {
                    width: 500px; /* Make input fields and textarea full width */
                    height: 50px;
                    resize: none;
                    padding: 10px; /* Add padding to input fields and textarea */
                    border: 1px solid #ccc; /* Add border to input fields and textarea */
                    border-radius: 5px; /* Add border radius to input fields and textarea */
                    box-sizing: border-box; /* Include padding and border in the width */
                }
                button {

                    padding: 10px 20px;
                    background-color: #FFF;
                    color: #000;
                    border: 1px solid #fff;
                    cursor: pointer;
                    font-size: 1.2rem;
                    background-color: #fff;
            
                }
        </style>
        <div class="new-post">
            <div class="img-icon">
                <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
            </div>
            <form method="POST"  class="new-post-form">
                {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" class="submitBtn" >Publish</button>
            </form>

        </div>



        <div class="posts-container">
            {% if posts %}
            <h2>Recent Posts</h2>
            {% for post in posts %}
            <div class="post">
                <div class="post-info">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div>
                        <h3 class="author-post">{{ post.author.username }}</h3>
                        <p class="time-since">{{ post.created_at }}</p>
                        <p class="time-since">{{ post.id }}</p>

                    </div>
    
                </div>
                <div class="post-text">
                    {{ post.content }}   

                 </div>

                 <div class="post-actions">
                    <ul>
                        <li><a href="{% url 'like_post' post_id=post.id %}"><i class='bx bxs-message-alt-dots'></i>  {{ post.likes }} Like</a></li>

                        <li><a href=""><i class='bx bxs-message-alt-dots'></i> Comment</a></li>
                        <li><a href="{% url 'share_post' post_id=post.id %}"><i class='bx bxs-share'></i> Share</a></li>
                    </ul>
                    <div class="comments-section">
                        {% for comment in post.comments.all %}
                        <div class="comment">
                            <div class="author-info">
                                <div class="img-icon">
                                    <!-- Display user avatar or profile picture -->
                                    <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                                </div>
                                <span class="author-name">{{ comment.author }}</span>
                                <!-- <span class="author-name">{{ comment.created_at }}</span> -->
                            </div>

                            <div class="comment-text">
                                {{ comment.content }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="add-comment">
                        <form method="post" action="{% url 'comment_post' post_id=post.id %}">
                            {% csrf_token %}
                            <input type="text" name="content" placeholder="Write a comment...">
                            <button type="submit">Post Comment</button>
                        </form>
                    </div>
                </div>
                
    
            </div>

            {% endfor %}

            {% else %}
            <p>No posts found.</p>
        {% endif %}
        </div>
    </section>

    <aside class="func">
        <div class="container">

        <div class="profileBx">
            <div class="cover">

            </div>
            <div class="user-cover">
                <div class="img-icon">
                    <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                </div>
            </div>

            <div class="user-info">
                <h3 class="username">{{ request.user.username }}</h3>
                {% if student %}
                <p>University: {{ student.university }}</p>
                <p>Major: {{ student.major }}</p>
            {% else %}
                <p>No student information found for this user.</p>
            {% endif %}
                <p class="user-status"></p>
                <button class="btn editBtn" id="edit-btn" >Edit Profile <i class='bx bx-edit-alt'></i></button>
                <div class="user-stats">
                    <div class="posts-counts">
                       <h4>Posts</h4>
                       <span>144</span>
                    </div>
                    <div class="post-contacts">
                        <h4>Contacts</h4>
                        <span>400</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="recomBx">
            <h4 class="box-title">Add to your feed ...</h4>
            <div class="usersBx">
                <div class="userBx">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h5 class="user-name">Ayoub khabali</h5>
                        <span class="user-status">Student at FSTT</span>
                        <button type="submit" class="addBtn">Follow <i class='bx bx-plus'></i></button>
                    </div>
                </div>
                <div class="userBx">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h5 class="user-name">Ayoub khabali</h5>
                        <span class="user-status">Student at FSTT</span>
                        <button type="submit" class="addBtn">Follow <i class='bx bx-plus'></i></button>
                    </div>
                </div>
                <div class="userBx">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h5 class="user-name">Ayoub khabali</h5>
                        <span class="user-status">Student at FSTT</span>
                        <button type="submit" class="addBtn">Follow <i class='bx bx-plus'></i></button>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    </aside>
</div>

</main>
{% endif %}

<section class="footer">
    <div class="container">
        <ul>
            <h4 class="col-title">General</h4>
            <li><a href="" class="list-link">Sign up</a></li>
            <li><a href="" class="list-link">Help center</a></li>
            <li><a href="" class="list-link">About</a></li>
            <li><a href="" class="list-link">Press</a></li>
        </ul>
        <ul>
            <h4 class="col-title">Browse Linkedin</h4>
            <li><a href="" class="list-link">Learning</a></li>
            <li><a href="" class="list-link">Jobs</a></li>
            <li><a href="" class="list-link">Salary</a></li>
            <li><a href="" class="list-link">Services</a></li>
        </ul>
        <ul>
            <h4 class="col-title">Business Solution</h4>
            <li><a href="" class="list-link">Talent</a></li>
            <li><a href="" class="list-link">Marketing</a></li>
            <li><a href="" class="list-link">Sales</a></li>
            <li><a href="" class="list-link">Learning</a></li>
        </ul>
        <ul>
            <h4 class="col-title">Directories</h4>
            <li><a href="" class="list-link">Members</a></li>
            <li><a href="" class="list-link">Jobs</a></li>
            <li><a href="" class="list-link">Companies</a></li>
            <li><a href="" class="list-link">Featured</a></li>
        </ul>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$('.like-button').click(function(e) {
    e.preventDefault();
    var post_id = $(this).data('post-id');
    var likeButton = $(this);  // Store the like button element
    $.ajax({
        type: 'POST',
        url: '/home/' + post_id + '/like/',
        data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        },
        success: function(data) {
            if (data.success) {
                // Update the like count on the page
                likeButton.closest('.post-actions').find('.likes-count').text(data.likes_count);
            }
        }
    });
});


</script>

{% endblock %}
