{% extends 'index.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<main class="main-section">

    <aside class="sidebar">
        <nav class="side-nav">
            <div class="logo">
                <img src="{% static 'images/fstt.png' %}" alt="">
            </div>
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link"><i class='bx bx-home'></i>Home</a></li>
                <li class="nav-item"><a href="{% url 'rooms' %}" class="nav-link"><i class='bx bxs-chalkboard' ></i>your rooms</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class='bx bx-group' ></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class='bx bxs-shopping-bags'></i></a></li>
            </ul>
            <div class="logout-btn">
                <a href="{% url 'logout' %}" ><i class='bx bx-log-out'></i></a>
            </div>

        </nav>
    </aside>

    <section class="main-content">
        <div class="container">

        <header class="header-content">
            <div class="search-bx ">
                <form action="">
                    <div class="inputBx">
                        <input type="text" name="search" id="search" placeholder="search here...">
                        <label for="search"><i class='bx bx-search'></i></label>
                    </div>
                </form>

            </div>
            <ul class="header-options">
                <li class="header-item"><button class="header-btn "><i class='bx bxs-bell'></i></button></li>
                <li class="header-item"><button class="header-btn"><i class='bx bxs-cog' ></i></button></li>
            </ul>
        </header>
        <h3 class="greetings">Welcome,  {{ request.user.username }}</h3>
        <div class="new-post">

            <form action="">
                <div class="inputBx">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <input type="text" class="inputBx" placeholder="what do you want to say?">
                </div>

                <div class="files-option">
                    <label for="file-upload" class="custom-file-upload">
                        <input id="file-upload" type="file">
                        <i class='bx bx-images'></i>
                        photo
                    </label>

                    <label for="file-upload" class="custom-file-upload">
                        <input id="file-upload" type="file">
                        <i class='bx bxs-videos'></i>
                        video
                    </label>

                    <label for="file-upload" class="custom-file-upload">
                        <input id="file-upload" type="file">
                        <i class='bx bx-file'></i>
                        docuement
                    </label>
                    
                </div>
            </form>

        </div>

        <div class="post">
            <div class="post-info">
                <div class="img-icon">
                    <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                </div>
                <div>
                    <p class="user-status">Lorem ipsum dolor sit amet.</p>
                    <p class="time-since">20 minutes ago</p>
                </div>

            </div>
            <div class="post-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, vel sit quo obcaecati aliquid earum dolorem non nulla. Pariatur, hic!
            </div>
            <div class="post-img">
                <img src="https://via.placeholder.com/640x360" alt="">
                <div class="likes-count"><i class='bx bxs-like'></i> Likes</div>
            </div>
            <div class="post-actions">
                <ul>
                    <li><a href=""><i class='bx bxs-like'></i> Like</a></li>
                    <li><a href=""><i class='bx bxs-message-alt-dots'></i> Comment</a></li>
                    <li><a href=""><i class='bx bxs-share'></i> Share</a></li>
                </ul>
            </div>

        </div>
    </section>

    <aside class="func">
        <div class="container">

        <div class="profileBx">
            <div class="cover">

            </div>
            <div class="user-cover">
                <div class="img-icon">
                    <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                </div>
            </div>

            <div class="user-info">
                <h3 class="full-name"></h3>
                <p class="user-status"></p>
                <button class="btn editBtn">Edit Profile <i class='bx bx-edit-alt'></i></button>
                <div class="user-stats">
                    <div class="posts-counts">
                       <h4>Posts</h4>
                       <span>144</span>
                    </div>
                    <div class="post-contacts">
                        <h4>Contacts</h4>
                        <span>400</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="recomBx">
            <h4 class="box-title">Add to your feed ...</h4>
            <div class="usersBx">
                <div class="userBx">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h5 class="user-name">Ayoub khabali</h5>
                        <span class="user-status">Student at FSTT</span>
                        <button type="submit" class="addBtn">Follow <i class='bx bx-plus'></i></button>
                    </div>
                </div>
                <div class="userBx">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h5 class="user-name">Ayoub khabali</h5>
                        <span class="user-status">Student at FSTT</span>
                        <button type="submit" class="addBtn">Follow <i class='bx bx-plus'></i></button>
                    </div>
                </div>
                <div class="userBx">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <h5 class="user-name">Ayoub khabali</h5>
                        <span class="user-status">Student at FSTT</span>
                        <button type="submit" class="addBtn">Follow <i class='bx bx-plus'></i></button>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    </aside>
</div>

</main>


{% else  %}
{% include 'navbar.html' %}

<section class="invite-section">
    <div class="container">
        <div class="left-side">
            <h1 class="highlight-title">Welcome to your professional community</h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <label for="email">Enter your username</label>
                <input type="text" name="username" id="email">
                <label for="password">Enter your password</label>
                <input type="password" name="password" id="password">
                <button type="submit" class="btn login-btn">Sign in</button>
                <span class="or">---------------- or ----------------</span>
                <a href="{% url 'logout' %}" class="signup-btn btn">Sign up</a>
            </form>
            
        </div>
        <div class="right-side">
            <div class="img-bx">
                <img src="{% static 'images/invite-img.png' %}" alt="">
           </div>
        </div>
    </div>
</section>

{% endif %}

<section class="footer">
    <div class="container">
        <ul>
            <h4 class="col-title">General</h4>
            <li><a href="" class="list-link">Sign up</a></li>
            <li><a href="" class="list-link">Help center</a></li>
            <li><a href="" class="list-link">About</a></li>
            <li><a href="" class="list-link">Press</a></li>
        </ul>
        <ul>
            <h4 class="col-title">Browse Linkedin</h4>
            <li><a href="" class="list-link">Learning</a></li>
            <li><a href="" class="list-link">Jobs</a></li>
            <li><a href="" class="list-link">Salary</a></li>
            <li><a href="" class="list-link">Services</a></li>
        </ul>
        <ul>
            <h4 class="col-title">Business Solution</h4>
            <li><a href="" class="list-link">Talent</a></li>
            <li><a href="" class="list-link">Marketing</a></li>
            <li><a href="" class="list-link">Sales</a></li>
            <li><a href="" class="list-link">Learning</a></li>
        </ul>
        <ul>
            <h4 class="col-title">Directories</h4>
            <li><a href="" class="list-link">Members</a></li>
            <li><a href="" class="list-link">Jobs</a></li>
            <li><a href="" class="list-link">Companies</a></li>
            <li><a href="" class="list-link">Featured</a></li>
        </ul>
    </div>
</section>
{% endblock %}
