{% extends 'base.html' %}

{% block content %}
  <div class="inbox-box">
    <h2>Inbox</h2>

    <div class="messages">
        {% for user in users %}
        <div class="message">
            <div class="profile-photo">
                {% if user.profile_pic_url %}
                    <img src="{{ user.profile_pic_url }}" alt="Profile Picture">
                {% endif %}
            </div>
            <div class="message-body">
                <h5>{{ user.username }}</h5>
                {% if user.latest_message %}
                    {% if user.latest_message.sender == request.user %}
                    <a class="text-muted" href="{% url 'conversation_detail' user.id %}">
    
                        You: {{ user.latest_message.content }}
                    </a>

                    {% else %}
                        <a class="text-muted" href="{% url 'conversation_detail' user.id %}">
                            {{ user.latest_message.content }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
