<style>
    header {
        color: #ffff;
    }

    .navbar .nav-list .nav-link {
        color : #fff
    }
</style>

<header class="header">
    <div class="logo">
        <h2> <span>    <i class='bx bxs-graduation'></i> </span> FSTT Career</h2>
    </div>
    <nav class="navbar" >
        <ul class="nav-list">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">Student Space</a></li>
            <li class="nav-item"><a href="" class="nav-link">Teacher Space</a></li>
            <li class="nav-item"><a href="" class="nav-link">Entreprise Space</a></li>
        </ul>
    </nav>
    {% if request.user.is_authenticated %}
    <div class="header-btns">
     <a href="{% url 'logout' %}">Logout</a>

    </div>

    {% else %}

    <div class="header-btns">
        <a href="" class="btn">Sign up</a>
        <a href="" class="btn loginBtn">Sign in</a>
    </div>
    {% endif %}

</header>