<div class="new-post">
    <div class="img-icon">
        <img src="{{user.profile_pic.url}}" alt="">
    </div>
    <form method="post" enctype="multipart/form-data">  <!-- Add enctype for file uploads -->
        {% csrf_token %}
     <div class="upper-part">
        {{ form.content }}
        {% if request.user.role == "TEACHER" %}
        {{ form.post_type }}  <!-- Add post_type field -->
        <button class="btn" onclick="document.getElementById('id_post_media').click()">media</button>
        {% endif %}
     </div>
     <div class="bottom-part">
        <div class="file-input">
            {{ form.post_media }}  <!-- Add post_type field -->

        </div>
        <div class="file-input">
            {{ form.attachment }}  <!-- Add attachment field -->
        </div>
     </div>
     <input type="submit" value="Publish">
    </form>
    

</div>

<div class="recent-posts">

    <h2>Recent Posts:</h2>      
    <nav class="profile-nav-tabs filtering-posts">
        <ul>
            <li class="profile-tab current-tab" data-filter="all">All</li>
            <li class="profile-tab" data-filter="POST">Regular Posts</li>
            <li class="profile-tab" data-filter="PEDAGOGICAL">Pedagogical Activities</li>
            <li class="profile-tab" data-filter="RESEARCH">Research Activities</li>
        </ul>
    </nav>
    <div class="your-posts">

        {% for post in posts %}
        <div class="post" data-type="{{ post.post_type}}">
            <div class="post-info">
                <div class="img-icon">
                    <img src="{{user.profile_pic.url}}" alt="">
                </div>
                <div>
                    <h3 class="author-post">{{ post.author.username }}</h3>
                    <p class="time-since">{{ post.created_at }}</p>
                    <p class="time-since">{{ post.id }}</p>
                    <p class="time-since">{{ post.post_type }}</p>

                </div>

            </div>
            <div class="post-text">
                {{ post.content }}   

             </div>
             <div class="post-img">
                {% if post.post_media %}
                    <img src="{{ post.post_media.url }}" alt="Post Image">
                {% endif %}
            </div>
            <div class="post-img">
                {% if post.attachment %}
                    <img src="{{ post.attachment.url }}" alt="Post Image">
                {% endif %}
            </div>
            

             <div class="post-actions">
                <ul>
                    <li><a href="{% url 'like_post' post_id=post.id %}"><i class='bx bxs-message-alt-dots'></i>  {{ post.likes }} Like</a></li>

                    <li><a href=""><i class='bx bxs-message-alt-dots'></i> Comment</a></li>
                    <li><a href="{% url 'share_post' post_id=post.id %}"><i class='bx bxs-share'></i> Share</a></li>
                </ul>
                <div class="comments-section">
                    {% for comment in post.comments.all %}
                    <div class="comment">
                        <div class="author-info">
                            <div class="img-icon">
                                <!-- Display user avatar or profile picture -->
                                <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                            </div>
                            <span class="author-name">{{ comment.author }}</span>
                            <!-- <span class="author-name">{{ comment.created_at }}</span> -->
                        </div>

                        <div class="comment-text">
                            {{ comment.content }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="add-comment">
                    <div class="profile-photo">
                        <img src="{{comment.author.profile_pic.url}}">
                    </div>
                    <form method="post" class="create-post" action="{% url 'comment_post' post_id=post.id %}">
                        {% csrf_token %}
                        <input type="text" name="content" placeholder="Write a comment...">
                        <button type="submit" class="btn btn-primary">Post Comment</button>
                    </form>
                </div>
            </div>
            

        </div>     
        {% endfor %}

        {% for share_post in shared_posts %}
        <div class="post">
            <span class="you-shared"><i class='bx bx-share' ></i> You shared :</span>

            <div class="post-info">
                <div class="img-icon">
                    <img src="{{ share_post.post.author.profile_pic.url }}" alt="">
                </div>
                <div class="user-span">
                    <h5 class="username">{{ share_post.post.author.username }}</h5>
                    <span class="datetime" >29 min</span>  
                </div>

            </div>
            <div class="post-content">
                {{ share_post.post.content }}
            </div>
            <div class="post-img">
                {% if share_.post.post_media %}
                    <img src="{{ share_post.post.post_media.url }}" alt="Post Image">
                {% endif %}
            </div>
            <div class="post-img">
                {% if share_post.post.attachment %}
                    <img src="{{ share_post.post.attachment.url }}" alt="Post Image">
                {% endif %}
            </div>
            
            <div class="post-actions">
                <div class="icon-actions">
                    <a href="{% url 'like_post' post_id=share_post.post.id %}"class="like-btn btn" > {{ share_post.post.likes }}  <i class='bx bx-heart'></i></a>
                    <button class="comment-btn btn">0 <i class='bx bxs-comment-detail'></i></button>
                    <button class="share-btn btn btn-active"><i class='bx bxs-share'></i></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>