{% extends 'index.html' %}
{% load static %}
{% block content %}


<div class="profile-section">
    {% include 'sidebar.html' %}
    <div class="main-profile">
        <div class="user-info">

            <h1>Student Profile</h1>
            {% if student %}
                <p>University: {{ student.university }}</p>
                <p>Major: {{ student.major }}</p>
            {% else %}
                <p>No student information found for this user.</p>
            {% endif %}
        </div>
        <div class="posts-container">
            {% if posts %}
            <h2>Recent Posts</h2>
            {% for post in posts %}
            <div class="post">
                <div class="post-info">
                    <div class="img-icon">
                        <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                    </div>
                    <div>
                        <h3 class="author-post">{{ post.author.username }}</h3>
                        <p class="time-since">{{ post.created_at }}</p>
                    </div>
    
                </div>
                <div class="post-text">
                    {{ post.content }}   
                 </div>
    
                <div class="post-actions">
                    <ul>
                        <li><a href=""><i class='bx bxs-like'></i> Like</a></li>
                        <li><a href=""><i class='bx bxs-message-alt-dots'></i> Comment</a></li>
                        <li><a href=""><i class='bx bxs-share'></i> Share</a></li>
                    </ul>
                </div>
    
            </div>
    
            {% endfor %}
    
            {% else %}
            <p>No posts found.</p>
        {% endif %}
        </div>

    </div>

</div>



{% endblock %}