{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="profile-section">
    <div class="main-profile">
    <div class="top-section">
        <div class="cover-bx" style="background-image: url('{{ user.profile_cover.url }}')">
        </div>
        <div class="img-icon profile-icon">
            <img src="{{ user.profile_pic.url }}" alt="">
        </div>
        
        <div class="profile-func">
            {% if user.is_authenticated and user == request.user %}

            <!-- <a class="post-btn btn" href="#newPost">new post</a> -->
                {% if user.role == "TEACHER" %}
            <button class="post-btn btn modal-trigger" >Create Class</button>
                {% endif %}
            
            {% else %}

            {% if request.user not in user.followers.all %}
            <form method="post" action="{% url 'follow_user' user.username %}">
                {% csrf_token %}
                <button type="submit">Follow</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'unfollow_user' user.username %}">
                {% csrf_token %}
                <button type="submit">Unfollow</button>
            </form>


            {% endif %}
            {% endif %}

        </div>

    </div>

    <div class="user-info">
        <h1 class="full-name" >{{ user.username }}</h1>
        {% if user.role == "TEACHER" %}
        <p>Teacher at {{user.teacher.department}}</p>
        <p>{{about_url}}</p>
        <p>{{posts_url}}</p>
        {% elif user.role == "STUDENT" %}
        <p>Student at {{ user.student.university }}</p>
        <p>Studying  {{ user.student.major }} major</p>

        {% endif %}
        <div class="user-statis">
            <div class="post-count">
                <h5>{{ user.posts.count }}</h5>
                <p>Posts</p>
            </div>
            <div class="followers-count">
                <h5>{{ user.followers.count }}</h5>
                <p>Followers</p>
            </div>
            <div class="groups-count">
                <h5>{{ user.following.count }}</h5>
                <p>Following</p>
            </div>
        </div>
    </div>
    <nav class="profile-nav-tabs">
        <ul>

            {% if about_url %}
            <li class="profile-tab" ><a href="{% url 'user_profile' username=request.user.username %}">Posts</a></li>
            <li class="profile-tab  current-tab" ><a href="{% url 'update_profile' username=request.user.username %}">About</a></li>
            <li class="profile-tab"><a href="{% url 'classes' username=request.user.username %}">classes</a></li>

            {% elif posts_url %}

            <li class="profile-tab current-tab" ><a href="{% url 'user_profile' username=request.user.username %}">Posts</a></li>
            <li class="profile-tab"><a href="{% url 'update_profile' username=request.user.username %}">About</a></li>
            <li class="profile-tab"><a href="{% url 'classes' username=request.user.username %}">classes</a></li>

            {% else %}

            <li class="profile-tab" ><a href="{% url 'user_profile' username=request.user.username %}">Posts</a></li>
            <li class="profile-tab"><a href="{% url 'update_profile' username=request.user.username %}">About</a></li>
            <li class="profile-tab current-tab"><a href="{% url 'classes' username=request.user.username %}">classes</a></li>
            {% endif %}

        </ul>
    </nav>

    {% if about_url %}
    {% if user.is_authenticated and user == request.user %}


    {% include 'about_profile.html' %}

    {% endif %}

    {% elif posts_url %}
    <div class="new-post">
        <div class="img-icon">
            <img src="{{user.profile_pic.url}}" alt="">
        </div>
        <form method="post" enctype="multipart/form-data">  <!-- Add enctype for file uploads -->
            {% csrf_token %}
         <div class="upper-part">
            {{ form.content }}
            {% if request.user.role == "TEACHER" %}
            {{ form.post_type }}  <!-- Add post_type field -->
            {% endif %}
         </div>
         <div class="bottom-part">
            <div class="file-input">
                {{ form.post_media }}  <!-- Add post_type field -->

            </div>
            <div class="file-input">
                {{ form.attachment }}  <!-- Add attachment field -->
            </div>
         </div>
         <input type="submit" value="Publish">
        </form>
        

    </div>

    <div class="recent-posts">

        <h2>Recent Posts:</h2>      
        <nav class="profile-nav-tabs filtering-posts">
            <ul>
                <li class="profile-tab current-tab" data-filter="all">All</li>
                <li class="profile-tab" data-filter="POST">Regular Posts</li>
                <li class="profile-tab" data-filter="PEDAGOGICAL">Pedagogical Activities</li>
                <li class="profile-tab" data-filter="RESEARCH">Research Activities</li>
            </ul>
        </nav>
        <div class="your-posts">

            {% for post in posts %}
            <div class="post" data-type="{{ post.post_type}}">
                <div class="post-info">
                    <div class="img-icon">
                        <img src="{{user.profile_pic.url}}" alt="">
                    </div>
                    <div>
                        <h3 class="author-post">{{ post.author.username }}</h3>
                        <p class="time-since">{{ post.created_at }}</p>
                        <p class="time-since">{{ post.id }}</p>
                        <p class="time-since">{{ post.post_type }}</p>

                    </div>
    
                </div>
                <div class="post-text">
                    {{ post.content }}   

                 </div>
                 <div class="post-img">
                    {% if post.post_media %}
                        <img src="{{ post.post_media.url }}" alt="Post Image">
                    {% endif %}
                </div>
                <div class="post-img">
                    {% if post.attachment %}
                        <img src="{{ post.attachment.url }}" alt="Post Image">
                    {% endif %}
                </div>
                

                 <div class="post-actions">
                    <ul>
                        <li><a href="{% url 'like_post' post_id=post.id %}"><i class='bx bxs-message-alt-dots'></i>  {{ post.likes }} Like</a></li>

                        <li><a href=""><i class='bx bxs-message-alt-dots'></i> Comment</a></li>
                        <li><a href="{% url 'share_post' post_id=post.id %}"><i class='bx bxs-share'></i> Share</a></li>
                    </ul>
                    <div class="comments-section">
                        {% for comment in post.comments.all %}
                        <div class="comment">
                            <div class="author-info">
                                <div class="img-icon">
                                    <!-- Display user avatar or profile picture -->
                                    <img src="https://t3.ftcdn.net/jpg/02/43/12/34/240_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg" alt="">
                                </div>
                                <span class="author-name">{{ comment.author }}</span>
                                <!-- <span class="author-name">{{ comment.created_at }}</span> -->
                            </div>

                            <div class="comment-text">
                                {{ comment.content }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="add-comment">
                        <form method="post" action="{% url 'comment_post' post_id=post.id %}">
                            {% csrf_token %}
                            <input type="text" name="content" placeholder="Write a comment...">
                            <button type="submit">Post Comment</button>
                        </form>
                    </div>
                </div>
                
    
            </div>     
            {% endfor %}

            {% for share_post in shared_posts %}
            <div class="post">
                <span class="you-shared"><i class='bx bx-share' ></i> You shared :</span>

                <div class="post-info">
                    <div class="img-icon">
                        <img src="{{ share_post.post.author.profile_pic.url }}" alt="">
                    </div>
                    <div class="user-span">
                        <h5 class="username">{{ share_post.post.author.username }}</h5>
                        <span class="datetime" >29 min</span>  
                    </div>

                </div>
                <div class="post-content">
                    {{ share_post.post.content }}
                </div>
                <div class="post-img">
                    {% if share_.post.post_media %}
                        <img src="{{ share_post.post.post_media.url }}" alt="Post Image">
                    {% endif %}
                </div>
                <div class="post-img">
                    {% if share_post.post.attachment %}
                        <img src="{{ share_post.post.attachment.url }}" alt="Post Image">
                    {% endif %}
                </div>
                
                <div class="post-actions">
                    <div class="icon-actions">
                        <a href="{% url 'like_post' post_id=share_post.post.id %}"class="like-btn btn" > {{ share_post.post.likes }}  <i class='bx bx-heart'></i></a>
                        <button class="comment-btn btn">0 <i class='bx bxs-comment-detail'></i></button>
                        <button class="share-btn btn btn-active"><i class='bx bxs-share'></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% elif classes_url %}
        {% if request.user.role == 'TEACHER' %}
            <h1>Classes Taught by {{ request.user.username }}</h1>
            <ul>
                {% for class_instance in classes %}
                <li>
                     <a href="{% url 'class_detail' class_instance.id class_instance.title %}">{{ class_instance.title }}</a> 
                </li>
                {% endfor %}
            </ul>
        {% elif request.user.role == 'STUDENT' %}
        <h4>My Classes</h4>
        <ul>
            {% for class_instance in classes %}
            <li>            <a href="{% url 'class_detail' class_instance.id class_instance.title %}">{{ class_instance.title }}</a>            </li>
            <!-- Add more class details as needed -->
            {% endfor %}
        </ul>
        {% else %}
        <div></div>
        {% endif %}

    {% else %}
    <div>
    </div>
    {% endif %}

    </div>

</div>


</div>


<div class="overlay">
    <div class="modal">
        {% include 'create_class.html' %}
    </div>
</div>

{% endblock %}