{% extends 'index.html'  %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<style>

    .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


</style>
<section class="hero-section  .video-container ">
    <video autoplay muted loop id="video-background">
        <source src="{% static 'images/video.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <h1 class="highlight-title">
            Fostering Careers, <br> Connecting Futures.</h1>
    </div>
</section>
<section class="intro-section ">
    <div class="container">
        <div class="righ-side">
            <h1>Welcome to FSTT Career: <br> Empowering Education, Igniting Futures.</h1>
        </div>
        <div class="left-side">
            <p>Explore profiles, classes, jobs—unlock your potential with seamless functionality.</p>
            <div class="intro-btns">
                <a href="{% url 'signup' %}" style="background-color: #1976D2;" class="btn">Start now</a>
                <a href="" style="background-color: #1976D2;"  class="btn">Discover</a>
            </div>
        </div>
    </div>
</section>
<section class="func-section">
    <div class="container">
        <div class="section-row">
            <div class="left-side">
                <span>Welcome</span>
                <h3>Discover the  features <br>  & fonctionnalities  we provide to teachers</h3>
                <p>Create your professional page, resume and manage your private classes</p>
                <div class="teacher-btns">
                    <a href="" class="btn" style="background-color: #1976D2;">see more</a>
                    <a href="{% url 'signup' %}" class="btn" style="background-color: #1976D2;">sign up now</a>
                </div>

            </div>
            <div class="right-side">
                <div class="imgBx">
                    <img src="{% static 'images/professor.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <div class="section-row">
            <div class="right-side">
                <div class="imgBx">
                    <img src="{% static 'images/studentt.jpg' %}" alt="">
                </div>
            </div>
            <div class="left-side">
                <span>Welcome</span>
                <h3>Discover the  features <br>  & fonctionnalities  we provide to students</h3>
                <p>Create your professional page, resume, academics projects</p>
                <ul class="student-list">
                    <li><i class='bx bxs-package'></i> Create your professional page</li>
                    <li><i class='bx bxs-package'></i> push your academic projects</li>
                    <li><i class='bx bxs-package'></i> ensure your projects safety and privacy</li>
                </ul>

            </div>

        </div>
        <div class="section-row">
            <div class="left-side">
                <span>Welcome</span>
                <h3>Discover the  features <br>  & fonctionnalities  we provide to Entreprises</h3>
                <p>Navigate students profiles and contact Teachers and professors to collaborate</p>
               <div class="professor-columns">
                <div class="professor-column">
                    <i class='bx bxs-package'></i>
                    <h4>Collaborations</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, iure.</p>
                </div>
                <div class="professor-column">
                    <i class='bx bxs-package'></i>
                    <h4>Consultation</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, iure.</p>
                </div>
               </div>

            </div>
            <div class="right-side">
                <div class="imgBx">
                    <img src="{% static 'images/business.jpg' %}" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="join-section">
    <h1>Join us now and create an account</h1>
    <p>discover now our useful functionalities whether you are student, teacher, or an entrepreneur</p>
    <div class="join-btns">
        <a href="{% url 'signup' %}" style="background-color: #1976D2;border: none;"  class="btn btn-solid">sign up</a>
        <a href="" style="background-color: #1976D2;color: #fff;border: none;"  class="btn ">see more</a>
    </div>
</section>
<script>
    const navbar = document.querySelector(".header")



window.addEventListener('scroll', ()=> {
    if (window.scrollY > 50) {
        navbar.classList.add('scrolled');
    } else {
        navbar.classList.remove('scrolled');
    }
});

</script>
{% endblock %}